<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title> Movies </title>
    </head>
<body>

    <h1>Let's Watch Some Movies!</h1>
{{{body}}}
</body>
</html>

